{#
/**
 * @file
 * Default theme implementation to display artist.
 *
 * Available variables:
 * - artist: Spotify artist. See https://developer.spotify.com/documentation/web-api/reference/#object-artistobject
 *
 * @ingroup themeable
 */
#}
<div class="wrapper-class">
{% if artist.external_urls.spotify %}
<p><a href="{{ artist.external_urls.spotify }}">{{ 'Visit @name on Spotify'|t({'@name': artist.name}) }}</a></p>
{% endif %}

{% if artist.followers.total %}
<p>{{ 'This artist has @count followers'|t({'@count': artist.followers.total}) }}
{% endif %}

{% if artist.genres %}
<h2>{{ 'Genres'|t }}</h2>
<ul>
  {% for genre in artist.genres %}
  <li>{{ genre }}</li>
  {% endfor %}
</ul>
{% endif %}

{% if artist.images.0 %}
<img src="{{ artist.images.0.url }}" alt="{{ artist.name }}">
{% endif %}

</div>
